aiohttp==3.5.4
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
gidgethub==3.1.0
idna==2.8
idna-ssl==1.1.0
multidict==4.5.2
pycparser==2.19
PyJWT==1.7.1
PyYAML==5.1.2
six==1.12.0
typing-extensions==3.7.4
uritemplate==3.0.0
yarl==1.3.0
